body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("images/bg-hero.png"), url("images/HG.png"); 
    background-repeat: no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

hr {
    border-color: #FBD784;
    width: 72px;
    height: 2px;
    background: #FBD784;
    margin-top: 26px;
    margin-right: 18px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    
    display: flex;
    list-style: none;
}

li a {
   
    text-decoration: none;
    margin: 0;
    padding-right: 40px;
    color: #ffffff; 
    font-size: 18px;
}

.account {
    display: flex;
    font-size: 17px;
    color: #ffffff;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.icon-account {
    padding-right: 13px;
}

/********** Container Central ************/

.container-box-center {
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    padding-top: 200px;   
}

.container-box-follow-us {
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-left: -200px;
   margin-top: 200px;
   
}

.box-follow-us {
    font-size: 18px;
    color: #ffffff;
    transform: rotate(90deg);   
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
       
}

.box-icon-instagram {
   padding-top: 25px;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.box-icon-twitter {
    padding-top: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.title-box-center {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.text-box-center {
    font-size: 88px;
    color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/********** Section Image Mountain ************/

.image-mountain {   
    margin-top: -50px;
}

/********** Section Image Man Photographing ************/

.image-man-photografe {
    margin-top: -720px;   
}

/********** Section Box One ************/
.section-box-one { 
    margin-top: -350px;
    position: relative;
    padding: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0b1d26+0,0b1d26+0,0b1d26+36,0b1d26+76&0+0,1+20 */
    background: -moz-linear-gradient(top,  rgba(11,29,38,0) 0%, rgba(11,29,38,1) 20%, rgba(11,29,38,1) 36%, rgba(11,29,38,1) 76%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(11,29,38,0) 0%,rgba(11,29,38,1) 20%,rgba(11,29,38,1) 36%,rgba(11,29,38,1) 76%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(11,29,38,0) 0%,rgba(11,29,38,1) 20%,rgba(11,29,38,1) 36%,rgba(11,29,38,1) 76%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000b1d26', endColorstr='#0b1d26',GradientType=0 ); /* IE6-9 */
    
    height: 100vh;
}

.container-box-one {
    display: flex;
    max-width: 1462px;
    margin: 0 auto;
}

.box-one {  
    padding-top: 180px;
    padding-left: 140px;
}

.box-image-01 {
    margin-top: -60px;
    margin-left: -139px;
    position: absolute;
}

.caption-box-one {
    margin-bottom: 27px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.title-box-one { 
    margin-top: -100px;
    font-size: 64px;
    color: #ffffff; 
}

.text-box-one {
    margin-top: -50px;
    margin-bottom: 27px;
    line-height: 32px;  
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #ffffff;
}

.link-box-one {
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FBD784;
}

.box-photograph-one {
    margin-left: 110px;
}

/********** Section Box Two ************/

.section-box-two {
    background: #0B1D26;
    padding-top: 200px;
}

.container-box-two {
    display: flex;
    max-width: 1462px;
    margin: 0 auto;
}
.box-two{
    padding-left: 205px;
    padding-top: 150px;
}

.box-image-02 {
    position: absolute;
    margin-top: -60px;
    margin-left: -150px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.box-caption-hr-two {
    display: flex;
}

.caption-box-two {
    margin-bottom: 27px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.title-box-two {
    font-size: 64px;
    color: #ffffff; 
    margin-top: -85px;
}

.text-box-two {
    margin-top: -50px;
    margin-bottom: 27px;
    line-height: 32px;  
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #ffffff;
}

.link-box-two {
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FBD784;
}

/********** Section Box Three ************/

.section-box-three {
    background: #0B1D26;
    padding-top: 200px;
}

.container-box-three {
    display: flex;
    max-width: 1462px;
    margin: 0 auto;
}

.box-three {
    margin-left: 150px;
    padding-top: 76px;
}


.box-image-03 {
    position: absolute;
    margin-top: -54px;
    margin-left: -370px;
    padding-left: 230px;
}

.caption-box-three {
    margin-bottom: 27px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.title-box-three {
    margin-top: -100px;
    font-size: 64px;
    color: #ffffff; 
}

.text-box-three {
    margin-top: -50px;
    margin-bottom: 27px;
    line-height: 32px;  
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #ffffff;
}

.link-box-three {
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FBD784;
}

/********** Footer ************/

.section-footer {
    background: #0B1D26;
    padding-top: 200px;
    padding-bottom: 113px;
}
.container-footer {
    display: flex;
    max-width: 1462px;
    margin: 0 auto;
}

.box-footer-one {
    padding-right: 553px;
}

.caption-list-one {
    padding-top: 10px;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.copyright-footer {
    padding-top: 145px;
    font-size: 18px;
    color: #FFFFFF;
    opacity: 0.5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/**************** Box Footer Two ******************/
.box-footer-two {
    padding-right: 97px;
}

.caption-list-two {
    margin-top: -28px;
    font-size: 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FBD784;
}

.box-list-two {
    margin-left: -37px;
    margin-top: -42px;
}

.list-two {
    line-height: 45px;
    display: inline;
    font-size: 18px;
    color: #ffffff;
}

/**************** Box Footer Three ******************/

.box-footer-three {
    padding-left: 140px;
    
}

.caption-list-three {
    margin-top: -28px;
    font-size: 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FBD784; 
}

.box-list-three {
    margin-left: -78px;
}

.list-three {
    line-height: 45px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #ffffff;
}

